$arrowMargin: 20px;

.image-slider {
    .current-image-container {
        position: relative;

        .arrow-container {
            background: white;
            position: absolute;
            top: 50%;
            cursor: pointer;
            border-radius: 50%;
            padding: 15px;
            display: flex;
            justify-content: center;
            align-items: center;
        }

        .left-arrow-container {
            left: $arrowMargin;
        }

        .right-arrow-container {
            right: $arrowMargin;
        }

        .current-image {
            width: 100%;
        }
    }
}