$arrowPosition: -20px;
$currentImageWidth: 350px;

.lightbox {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: fixed;
    z-index: 1000;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: hsla(0, 0%, 0%, 0.75);

    .close-icon {
        position: absolute;
        top: 30px;
        right: calc(50% - ($currentImageWidth / 2));
        cursor: pointer;
    }

    .image-slider {
        width: $currentImageWidth;
        height: 450px;

        .current-image-container {
            .arrow-container {
                display: flex;
            }

            .left-arrow-container {
                left: $arrowPosition;
            }

            .right-arrow-container {
                right: $arrowPosition;
            }

            .current-image {
                cursor: default;
            }
        }
    }
}