.nav {
    display: flex;
    flex-direction: row;
    gap: 20px;
    padding: 20px;

    .container {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }

    .logo-container {
        flex-grow: 1;
        justify-content: flex-start;
    }

    .cart-container {
        position: relative;
        padding: 5px;
        cursor: pointer;

        .cart-quantity {
            position: absolute;
            top: 0;
            right: 0;
            border-radius: 50%;
            background: orange;
            color: white;
            padding: 0 5px;
        }
    }

    .avatar {
        height: 40px;
        width: 40px;
    }

    .hamburger-menu {
        cursor: pointer;
    }

    .hide-options-menu {
        display: none;
    }

    .show-options-menu, .show-cart-menu {
        position: absolute;
        z-index: 99;
        top: 80px;
    }

    .show-options-menu {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        list-style-type: none;
        left: 50%;
        transform: translate(-50%, 0);
        gap: 20px;
        padding: 20px;
        width: 100%;
        background: white;

        .options-menu-element {
            color: gray;
            border: 3px solid transparent;
            cursor: pointer;

            &:hover {
                border-bottom-color: gray;
            }
        }
    }
}

.nav > * {
    border: 3px solid red;
}

/* special media query for Galaxy Fold screens */
@media all and (max-width: 300px) {
    .nav {
        gap: 5px;
        padding: 0px;
    }
}