@import "../../globalVariables";

$navPadding: 20px;

.nav {
    display: flex;
    flex-direction: row;
    gap: 20px;
    padding: $navPadding;

    .container {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }

    .logo-container {
        flex-grow: 1;
        justify-content: flex-start;
    }

    .cart-container {
        position: relative;
        padding: 5px;
        cursor: pointer;

        .cart-quantity {
            position: absolute;
            top: 0;
            right: 0;
            border-radius: 50%;
            background: orange;
            color: white;
            padding: 0 5px;
        }
    }

    .avatar {
        height: 40px;
        width: 40px;
    }

    .hamburger-menu {
        cursor: pointer;
    }

    .hide-menu {
        display: none;
    }

    .show-options-menu, .show-cart-menu {
        position: absolute;
        z-index: 99;
        top: 80px;
    }

    .show-options-menu {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        list-style-type: none;
        left: 50%;
        transform: translate(-50%, 0);
        gap: 20px;
        padding: 20px;
        width: 100%;
        background: white;

        .options-menu-element {
            color: gray;
            border: 3px solid transparent;
            padding-bottom: 5px;
            cursor: pointer;

            &:hover {
                border-bottom-color: $specialOrange;
                color: black;
            }
        }
    }
}

/* special media query for Galaxy Fold screens */
@media all and (max-width: $galaxyFordMinimalWidth) {
    .nav {
        gap: 5px;
        padding: 20px 0;
    }
}

@media all and (min-width: $desktopMinimalWidth) {
    .nav {
        border-bottom: 1px solid lightgray;
        padding: 0;
        gap: 30px;

        .hamburger-container {
            display: none;
        }

        .logo-container {
            flex-grow: 0;
        }

        .desktop-options-menu {
            flex-grow: 1;
            list-style-type: none;
            display: flex;
            flex-direction: row;
            align-items: stretch;
            gap: 15px;

            .options-menu-element {
                display: flex;
                flex-direction: row;
                justify-content: center;
                align-items: center;
                color: gray;
                padding: $navPadding 0;
                border: 3px solid transparent;
                cursor: pointer;

                &:hover {
                    color: black;
                    border-bottom-color: orange;
                }
            }
        }

        .cart-container {
            .cart-quantity {
                top: 12px;
            }
        }
    }
}