.nav {
    display: flex;
    flex-direction: row;
    gap: 20px;
    padding: 20px;

    .container {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }

    .logo-container {
        flex-grow: 1;
        justify-content: flex-start;
    }

    .avatar {
        height: 40px;
        width: 40px;
    }

    .hamburger-menu {
        cursor: pointer;
    }

    .hide-menu {
        display: none;
    }

    .expand-menu {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        list-style-type: none;
        position: absolute;
        top: 80px;
        left: 50%;
        transform: translate(-50%, 0);
        gap: 20px;
        padding: 20px;
        width: 100%;
        background: white;

        .menu-element {
            color: gray;
            border: 3px solid transparent;
            cursor: pointer;

            &:hover {
                border-bottom-color: gray;
            }
        }
    }
}